<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
			<div th:replace="~{base :: titulo('Novo Leilão')}"></div>
			<form th:action="@{/leiloes}" method="post" th:object="${leilao}" class="card-body">
				<input th:field="*{id}" type="hidden">
		
				<div class="form-group" id="form-leilao">
					<label for="nome">Nome:</label>
					<input id="nome" th:field="*{nome}" th:errorclass="is-invalid" class="form-control"
							placeholder="Nome do leilão">
					<small>Coloque um nome expressivo</small>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
				</div>
			
				<div class="form-group">
					<label for="valorInicial">Valor inicial:</label>
					<input id="valorInicial" th:field="*{valorInicial}" th:errorclass="is-invalid" class="form-control"
							placeholder="Valor inicial">
					<small>Coloque um valor > 0.1</small>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('valorInicial')}" th:errors="*{valorInicial}">
				</div>
			
				<div class="form-group">
					<label for="dataAbertura">Data Abertura:</label>
					<input id="dataAbertura" name="dataAbertura" th:value="*{dataAbertura}" 
					th:errorclass="is-invalid" class="form-control" placeholder="Data de abertura" type="text">
					<small>Coloque uma data no formato dd/MM/yyyy</small>
					<p class="alert alert-danger" th:if="${#fields.hasErrors('dataAbertura')}" th:errors="*{dataAbertura}">
				</div>
			
				<div class="form-group">
					<label for="usuario">Usuário:</label>
					<input id="usuario" th:value="${usuario}" class="form-control" placeholder="Nome do Usuário"
						   type="text"
							readonly>
				</div>

				<button class="btn btn-primary" id="button-submit" type="submit" role="button">Salvar</button>
			</form>
	
			<a class="btn btn-primary mt-2" th:href="@{'/leiloes'}" role="button">Voltar</a>
		</div>
	</body>
</html>
